<!DOCTYPE html>
<html th:replace="~{layouts/base::html(main=~{::main})}">
<body>
<main>
    <div id="addBookDiv">
        <form method="post" th:action="@{/book/save}">
            <div class="inputBox" id="firstInputBox">
                <input placeholder="Title" name="title" type="text" required="">
            </div>
            <div class="inputBox">
                <input placeholder="Author" name="author" type="text" required="">
            </div>
            <button class="btnSubmit" type="submit">추가</button>
        </form>
    </div>
    <h2>Book List</h2>
    <p th:replace="~{layouts/pagenation::p}"></p>
    <table class="list">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
        </tr>
        <tr th:each="book: ${list}">
            <td th:text="${book.id}">99</td>
            <td th:text="${book.title}">99</td>
            <td th:text="${book.author}">김철수</a></td>
        </tr>
    </table>
</main>
</body>
</html>